
/* Your CSS Code here. */
 .quotation {
      max-width: 600px;
      margin: 10px 0;
      padding: 15px;
      border-left: 8px solid green;
      background-color: #f8fffe;
      font-weight: bold;
    }